.modal {
  padding: 20px;
  background: rgba(0, 9, 36, 0.8);
  color: white;
  border-radius: 10px;
  width: 425px;
  height: 530px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: 1px solid rgba(42, 130, 228, 1);
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.task-info select,
.task-info input {
  width:180px;
  border-radius: 4px;
  padding: 5px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action-button {
  padding: 10px 20px;
  background-color: #58a6ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.task-info {
  grid-column: 1;
  display: grid;
  gap: 5px;
  border: 1px solid #58a6ff;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(20, 30, 50, 0.8);
  width: 400px;
  height: 420px;
}

.task-info h2 {
  margin: 0;
  padding-bottom: 1px;
  text-align: left;
  font-size: 20px;
}

.task-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.task-info label {
  color: white;
  width: 100px;
  font-size: 14px;
  display:inline-block;
}

.close-button {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.coordinate-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.coordinate-input input[type="text"] {
  width: 180px;
  border-radius: 4px;
  padding: 5px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 5px;
}

.coordinate-input span {
  color: white;
  margin-left: 5px;
}

.coordinate-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coordinate-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coordinate-input {
  display: flex;
  align-items: center;
}

.coordinate-input label {
  width: 100px;
  font-size: 14px;
  color: white;
}

.dms-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dms-group {
  display: flex;
  align-items: center;
}

.dms-group input {
  width: 45px;
  height: 25px;
  padding: 2px 4px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.dms-group span {
  margin-left: 2px;
  font-size: 14px;
  color: white;
}

.check-coordinates-btn {
  margin-left: 10px;
  padding: 6px 12px;
  height: 30px;
  background-color: #58a6ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.check-coordinates-btn:hover {
  background-color: #4a8fd9;
}
