.modal {
  padding: 20px;
  background: rgba(0, 9, 36, 0.8);
  color: white;
  border-radius: 10px;
  width: 945px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: 1px solid rgba(42, 130, 228, 1);
  background-size: cover;
  background-position: center;
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.form-group label {
  margin-right: 10px;
  white-space: nowrap;
}

.form-group select,
.form-group input {
  padding: 5px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 5px;
}

.query-button {
  padding: 8px 15px;
  background-color: #58a6ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.table-container {
  max-height: 565px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th {
  background-color: #1a2b4c;
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #444;
}

.table-row {
  border-bottom: 1px solid #444;
}

.table-row:last-child {
  border-bottom: none;
}

td {
  padding: 8px;
  text-align: center;
}

.close-button {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.status-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

.status-online {
  background-color: green;
}

.status-warning {
  background-color: orange;
}

.status-offline {
  background-color: red;
}

a {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: none;
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1000;
  color: #808080;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  background-color: #337ab7;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.confirm-button:hover,
.cancel-button:hover {
  background-color: #285e8e;
}

.cancel-button {
  background-color: #337ab7;
}

.cancel-button:hover {
  background-color: #555;
}

.clear-button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  height: 28px;
  line-height: 18px;
  font-size: 14px;
}

.clear-button:hover {
  background-color: #c9302c;
}
