.container {
  position: absolute;
  left: calc(40%);
  top: 16%;
  width: 340px;
  height: 670px;
  padding: 15px;
  background-color: rgba(13, 31, 51, 0.9);
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h1 {
  margin: 1px;
  font-size: 24px;
}

.close-button {
  cursor: pointer;
  font-size: 30px;
  margin-right: 5px;
}

.plus-minus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: deliver;
  margin-right: 45px;
}

.plus-minus button {
  background-color: #58a6ff;
  border: none;
  color: white;
  font-size: 44px;
  padding: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin: 90px 0;
  width: 25px;
  height: 80px;
  margin-left: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.submit-button {
  width: 50px;
  height: 30px;
  align-self: center;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -90px;
}

select {
  width: 100px;
  font-size: 12px;
  text-align: center;
}

input {
  font-size: 14px;
  text-align: center;
}

.review-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #58a6ff;
  border-radius: 5px;
  height: 260px;
}

.review-info .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 290px;
}

.review-info label {
  color: white;
  width: 80px;
  font-size: 14px;
}

.review-info input {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  text-align: center;
  margin-left: 31px;
  height: 24px;
  border-radius: 5px;
}

.review-info textarea {
  width: 150px;
  height: 100px;
  margin-left: 31px;
  border-radius: 5px;
}

.user-info {
  padding: 10px;
  border: 1px solid #58a6ff;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.user-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-info label {
  width: 100px;
}

.user-info span {
  flex: 1;
  text-align: left;
}

.userInput {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  margin-left: -35px;
  height: 24px;
  margin-right: 50px;
  border-radius: 5px;
}

.userSelect {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  text-align: center;
  height: 24px;
  margin-right: 56px;
  border-radius: 5px;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #58a6ff;
  text-align: left;
  padding-bottom: 8px;
  margin-top: 0px;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 60px;
  margin-left: 207px;
} 