.modal {
  padding: 20px;
  background: rgba(0, 9, 36, 0.8);
  color: white;
  border-radius: 10px;
  width: 900px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: 1px solid rgba(42, 130, 228, 1);
  background-size: cover;
  background-position: center;
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: -6px;
}

.search-condition-group {
  display: flex;
  align-items: center;
  flex: 1;
}

.input-with-buttons {
  display: flex;
  align-items: center;
  flex: 1;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -4px;
  margin-bottom: 1px;
}

hr {
  border-top: 1px solid rgba(42, 130, 228, 0.3);
  margin: 1px 0px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-group label {
  white-space: nowrap;
}

.form-group select {
  padding: 4px 8px;
  background-color: rgba(27, 42, 65, 0.5);
  color: white;
  border: 1px solid rgba(42, 130, 228, 0.5);
  border-radius: 4px;
  height: 28px;
  min-width: 120px;
}

#search-condition {
  padding: 5px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 5px;
}

.query-button,
.clear-button {
  margin-left: 10px;
  min-width: 60px;
  padding: 4px 15px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.query-button {
  background-color: #58a6ff;
  color: white;
  border: none;
}

.clear-button {
  background-color: #d9534f;
  color: white;
  border: none;
}

.table-container {
  margin-top: 10px;
  max-height: 565px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th {
  background-color: #1a2b4c;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #444;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid rgba(42, 130, 228, 0.2);
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  float: right;
}

a {
  color: #58a6ff;
  cursor: pointer;
  text-decoration: none;
  margin: 0 5px;
}

a:hover {
  text-decoration: underline;
}

/* 滚动条样式 */
.table-container::-webkit-scrollbar {
  width: 6px;
}

.table-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(42, 130, 228, 0.5);
  border-radius: 3px;
}
