.container {
  width: 340px;
  padding: 15px;
  background-color: rgba(0, 9, 36, 0.8);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 625px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.close-button {
  cursor: pointer;
  font-size: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #58a6ff;
  padding-bottom: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

.form-group input {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  text-align: center;
  margin-left: -35px;
  height: 24px;
  border-radius: 5px;
}

.form-group select {
  border: 1px solid #333;
  width: 155px;
  color: #000;
  text-align: center;
  margin-left: -35px;
  height: 27px;
  border-radius: 5px;
}

.section {
  border: 1px solid #58a6ff;
  padding: 5px;
  margin-bottom: 9px;
  border-radius: 5px;
}

h3 {
  margin: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #58a6ff;
  padding-bottom: 5px;
  margin-top: 0px;
}

h4 {
  margin: 1px 0;
  font-size: 16px;
}

.device-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.device-table th,
.device-table td {
  padding: 8px;
  border: 1px solid #444;
  text-align: center;
  font-size: 14px;
}

.device-table th {
  background-color: #1a2b4c;
  font-size: 14px;
}

.device-checkbox {
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 14px;
  color: #aaa;
}

.submit-button {
  width: 62px;
  height: 35px;
  align-self: end;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin-top: -8px;
  background-color: #4caf50;
}

.table-container {
  max-height: 180px;
  overflow-y: auto;
}
