.container {
  position: absolute;
  left: calc(40%);
  top: 14%;
  width: 340px;
  height: 625px;
  padding: 15px;
  background-color: rgba(13, 31, 51, 0.9);
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h1 {
  margin: 1px;
  font-size: 24px;
}

.close-button {
  cursor: pointer;
  font-size: 30px;
  margin-right: 5px;
}

.review-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #58a6ff;
  border-radius: 5px;
  height: 245px;
}

.review-info .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 290px;
}

.review-info label {
  color: white;
  width: 80px;
  font-size: 14px;
}

.review-info input {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  text-align: center;
  margin-left: -35px;
  height: 24px;
  margin-left: 10px;
  border-radius: 5px;
}

.review-info textarea {
  width: 150px;
  height: 82px;
  margin-left: 10px;
  border-radius: 5px;
}

.user-info {
  padding: 10px;
  border: 1px solid #58a6ff;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.user-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-info label {
  width: 80px;
}

.user-info span {
  flex: 1;
  text-align: left;
}

.userInput {
  border: 1px solid #333;
  width: 150px;
  color: #000;
  text-align: center;
  margin-left: -35px;
  height: 24px;
  margin-right: 73px;
  border-radius: 5px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #58a6ff;
  text-align: left;
  padding-bottom: 8px;
  margin-top: 0px;
}

/* ...其余样式保持不变... */ 