:host {
  display: block;
  font-family: 'Arial', sans-serif;
  color: white;
  background: rgba(0, 9, 36, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 250px;
  left: 50%;
  border: 1px solid rgba(42, 130, 228, 1);
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.device-category {
  margin-top: 10px;
}

.device-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #58a6ff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 5px 0;
}

details {
  margin: 5px 0;
  padding-left: 15px;
}

summary {
  cursor: pointer;
}

.online-list,
.offline-list {
  list-style-type: none;
  padding-left: 20px;
  margin: 5px 0;
}

.online-list a,
.offline-list a {
  color: #58a6ff;
  text-decoration: none;
}

.online-list a:hover,
.offline-list a:hover {
  text-decoration: underline;
}

.device-category details > summary {
  margin-bottom: 5px;
}
