.modal {
  padding: 20px;
  background: rgba(0, 9, 36, 0.8);
  color: white;
  border-radius: 10px;
  width: 900px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: 1px solid rgba(42, 130, 228, 1);
  background-size: cover;
  background-position: center;
  position: absolute;
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.form-group label {
  margin-right: 10px;
  white-space: nowrap;
}

.form-group select,
.form-group input {
  padding: 5px;
  background-color: #1b2a41;
  color: white;
  border: none;
  border-radius: 5px;
}

.query-button {
  padding: 8px 15px;
  background-color: #58a6ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th {
  background-color: #1a2b4c;
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #444;
}

.table-row {
  border-bottom: 1px solid #444;
}

.table-row:last-child {
  border-bottom: none;
}

td {
  padding: 8px;
  text-align: center;
}

.close-button {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.status-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

.status-online {
  background-color: green;
}

.status-warning {
  background-color: orange;
}

.status-offline {
  background-color: red;
}

.action-button {
  cursor: pointer;
  color: #1e90ff;
  text-decoration: underline;
}

.table-container {
  max-height: 565px;
  overflow-y: auto;
}

a {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: none;
} 